<div class="container my-5">
  <h1 class="mb-3">Customers</h1>

  <table class="table" *ngIf="customers && customers.length > 0">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Salary</th>
        <th scope="col">Department</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td scope="row">{{ customer.id}}</td>
        <td scope="row">{{ customer.name}}</td>
        <td scope="row">{{ customer.email}}</td>
        <td scope="row">{{ customer.phone}}</td>
        <td scope="row">{{ customer.salary}}</td>
        <td scope="row">{{ customer.department}}</td>
        <td><a [routerLink]="['/customers', 'edit', customer.id]">View</a></td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!customers || customers.length <= 0">No Customers Found</p>
</div>
